.c-button {
    background-color: getColor("grey", 6);
    border: 0px;
    padding: getPadding("s") getPadding("xl");
    margin-top: getMargin("s");
    cursor: pointer;
    font-weight: getFontWeight("7");
    transition: 0.5s;

    &:hover {
        background-color: getColor("grey", 8);
    }
}
